<%= _.template(require('./../includes/header.html'))(data) %>
<!--Страница начало-->
<div class="page">
    <div class="page__content">
        <section class="section section_dark section_full section_first" data-video="uploads/video.mp4">
            <div class="first__rounds">
            </div>
            <div class="container">
                <div class="row flex-column justify-content-between section_full">
                    <header class="header">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-6">
                                <div class="header__logo">
                                    <a href="/">
                                        <img src="img/logo-souris.png" alt="Аренда спорткаров">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="row justify-content-end align-items-center">
                                    <div class="col-10 d-none d-xl-block d-lg-block d-md-block d-sm-block">
                                        <div class="header__callback">
                                            <div class="header__phone">
                                                <a href="#">8 (800) 555-7555</a>
                                            </div>
                                            <div class="modal-open header__modal">Заказать звонок</div>
                                        </div>
                                    </div>
                                    <div class="col-6  col-sm-2">
                                        <div class="header__burger">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="first__content">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-md-6">
                                <h2 class="first__subtitle">
                                    The MEN WANT GTR
                                </h2>
                                <h1 class="title title_main title_white">
                                    Аренда спорткаров<br/>
                                    в Москве и Сочи
                                </h1>
                                <div class="first__text">
                                    <p>Прикоснись к легенде, ощути могущество характера и цирф в<br/>образе NISSAN GTR. Истребитель на колесах, создающий перегрузку в 1,9 g.</p>
                                    <p>Ты готов ощутить это?</p>
                                    <div class="first__button">
                                        <button class="button button_full  modal-open">Заказать</button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-lg-block d-md-block col-md-5 d-xl-block position-relative">
                                <div class="first__event">
                                    <div>
                                        <span class="first__event_dark">От</span>
                                        <br/>
                                        <span class="first__event_white first__event_big">5000</span>
                                        <span class="first__event_white">руб.</span>
                                        <br/>
                                        <span class="first__event_dark">1 час</span>
                                    </div>
                                </div>
                                <div class="first-carousel owl-carousel">
                                    <div class="item">
                                        <img src="img/nissan@2x.png" alt="nissan первая картинка">
                                    </div>
                                    <div class="item">
                                        <img src="img/nissan-2@2x.png" alt="nissan">
                                    </div>
                                    <div class="item">
                                        <img src="img/nissan3.png" alt="nissan">
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-lg-block d-md-block col-md-1 d-xl-block position-relative align-self-md-stretch">
                                <div class="carousel__nav">
                                    <div class="carousel__button carousel__button_prev">
                                    </div>
                                    <div class="carousel__information">
                                        <div class="carousel__info">
                                            <span class="carousel__current">01</span><span class="carousel__pr">/</span><span class="carousel__all"></span>
                                        </div>
                                        <div class="carousel__line">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="carousel__button carousel__button_next"></div>
                                </div>
                            </div>
                        </div>
                        <div class="first__bg">GTR</div>
                    </div>
                    <div class="first__footer">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-6 col-md-3">
                                <div class="first__social">
                                    <ul class="row justify-content-between">
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="fa fa-vk"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="fa fa-youtube"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-none d-lg-block d-md-block d-xl-block col-md-3 ">
                                <img src="img/mouse.png" alt="Мышка" class="first__mouse">
                            </div>
                            <div class="col-6 col-md-3" >
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-6">
                                        <div class="play_right">
                                            <div class="first__play play">
                                                <i class="fa fa-play"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="canvas__wrapper">
                                            <canvas id="visualizator" class="first__canvas"></canvas>
                                        </div>
                                    </div>
                                    <audio src="/uploads/1.mp3" loop id="audio"></audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="page__footer">
    </div>
</div>
<!--Страница конец-->
<!--Меню начало-->
<div class="navigation">
    <div class="container">
        <div class="row justify-content-between align-items-center flex-column navigation__wrapper">
            <p>123</p>
            <p>123</p>
            <div></div>
        </div>
    </div>
</div>
<!--Меню конец-->
<%= _.template(require('./../includes/footer.html'))(data) %>